@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
$accent-color: #ffaf29;
$background-color-dark: #1e202c;
$background-color-dark-2: #181924;
$text-color-dark-opacity: #c2c7e580;
$text-color-dark: #c2c7e5;
$text-color-light: #1e202c;

$card-inner-color-white: #f5f5f5;
$card-inner-color-dark: #181924;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: #1e202c;
}

html {
  scroll-behavior: smooth;
}

.bg-dark {
  background-color: $background-color-dark;
}

.bg-dark * {
  color: $text-color-dark;
}

.bg-light * {
  color: $text-color-light;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
}

.nav-container {
  padding: 2.5rem 1rem;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 50px 2rem;
  margin: 0px auto;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  background-color: white;
}
.logo {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Nanum Pen Script", cursive;
  text-decoration: none;
}
nav button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
nav button:active span {
  background-color: $accent-color;
}
nav button,
nav ul {
  margin-left: auto;
}
nav button:hover {
  opacity: 1;
}
nav button span {
  height: 3px;
  background-color: #444444;
  width: 20px;
  display: block;
  margin-top: 4px;
  border-radius: 20px;
}
nav button span:first-child {
  width: 15px;
  margin-left: 5px;
}
nav button span:last-child {
  width: 15px;
}
nav ul {
  display: none;
}
nav ul li {
  display: inline-block;
}

.nav-links svg {
  height: 22px;
  width: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  top: 5px;
  cursor: pointer;
  fill: $text-color-dark;
  transition: all 300ms ease;
}

.nav-links svg:hover {
  fill: $accent-color;
}

.nav-links a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  padding: 0 5px;
}
.nav-links a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;

  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: all 300ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: $accent-color;
  border-radius: 2px;
}

.resume-button a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding: 6px 8px;
  transition: all 250ms ease-in-out;
}

.resume-button a:hover {
  background-color: $accent-color;
  color: #fff;
}

.nav-links a:hover {
  color: white;
}
.nav-links a:hover::after {
  top: 0%;
}
.responsive-nav {
  position: absolute;
  top: -30%;
  background-color: $background-color-dark;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  z-index: 1;
}
.responsive-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.responsive-nav-active {
  top: 10% !important;
}

header p:nth-of-type(1) {
  color: $accent-color;
  font-size: 1.4rem;
}

header h1 {
  margin-top: 1rem;
  font-size: 5rem;
  line-height: 1;
}

header h2 {
  font-size: 3rem;
  line-height: 1;
  opacity: 0.5;
  letter-spacing: -5px;
}

header p:nth-of-type(2) {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  max-width: 500px;
}

.get-in-touch {
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.5rem;
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding: 12px 20px;
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 1;
}

.get-in-touch::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: all 300ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: $accent-color;
  border-radius: 4px;
}

.get-in-touch:hover {
  color: #fff;
}

.get-in-touch:hover::before {
  top: 0%;
}

.profile-img {
  display: none;
}

.introduction h4 {
  font-size: 1.6rem;
  display: flex;
}

.introduction p {
  font-size: 1.2rem;
}

.introduction h4:before {
  content: "";
  height: 4px;
  width: 18px;
  font-size: 4rem;
  margin-right: 10px;
  background-color: $accent-color;
  position: relative;
  border-radius: 50px;
  top: 20px;
}

.aboutText {
  font-size: 20px;
}

.light-text {
  color: $text-color-light;
  opacity: 0.8;
}

.dark-text {
  color: $text-color-dark-opacity;
}

.introduction p span {
  font-size: 22px;
  color: $accent-color;
  font-family: "Nanum Pen Script", cursive;
}

.quote-1 {
  margin-top: 40px;
  height: 80px;
}

.quote-2 {
  margin-top: 40px;
  height: 90px;
}

.quote-3 {
  height: 55px;
}

.section-2 {
  max-width: 800px;
  margin: 0px auto;
}

.skills-container p {
  margin-top: 20px;
  border: 2px solid $accent-color;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px 12px;
  display: inline-block;
  font-size: 1rem;
}

.project-card {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  border-radius: 10px;
  align-items: center;
  position: relative;
}

.card-dark{
  background-color: $card-inner-color-dark;
}

.card-light{
  background-color: $card-inner-color-white;
}

.left {
  height: 100%;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  border-radius: 10px;
  position: relative;
  display: none;
}

.right {
  padding: 30px;
}

.right h3 {
  font-size: 1.4rem;
}

.project-1 {
  background-image: url(../images/project-1.png);
}

.project-2 {
  background-image: url(../images/project-2.png);
}

.project-3 {
  background-image: url(../images/project-3.png);
  background-position: top;
}

.left::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #ffbd2f94, #c0450cdc);
  transition: all 800ms ease-in-out;
}

.project-card:hover .left::after {
  opacity: 0;
}

.project-icons-container {
  position: relative;
  right: 0;
  bottom: 0;
  margin: 0px 40px 20px 30px;
}

.project-link {
  display: inline-block;
}

.project-link svg {
  height: 20px;
  width: 20px;
  fill: $text-color-dark;
  transition: fill 400ms ease-in-out;
}

.project-link:nth-of-type(2),
.project-link:nth-of-type(3) {
  margin-left: 15px;
}

.project-link:hover svg {
  fill: $accent-color;
}

.small-projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.small-project-card {
  height: 400px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 20px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 400ms ease-in-out;
  position: relative;
}

.small-project-card:hover {
  border: 2px solid $accent-color;
}

.lower {
  position: absolute;
  bottom: 30px;

  &__icons {
    margin-top: 20px;
  }
}

.small-project-card p {
  font-size: 1rem;
}

.small-project-tech-container {
  margin-top: 10px;
}

.small-project-tech-container p {
  margin-top: 20px;
  border: 2px solid $accent-color;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4px 12px;
  display: inline-block;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 120px;
}

.social-container {
  margin: 40px 0 40px 0;
}

.social-container a:not(:last-child) {
  display: inline-block;
  margin-right: 20px;
}

.social-container a svg {
  height: 20px;
  width: 20px;
  fill: $text-color-dark;
  transition: all 250ms ease-in-out;
}

.social-container a svg:hover {
  fill: $accent-color;
}

.floating-email {
  display: none;
}

.final-credits {
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 300ms ease-in-out;
}

.brittany:hover {
  color: rgb(100, 255, 218) !important;
}

.final-credits:hover {
  color: $accent-color;
}

.floating-img {
  display: none;
}

.illustrations-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 20px;

  .small-project-card-2 {
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 400ms ease-in-out;
    position: relative;

    h3 {
      margin-top: 2rem;
      text-align: center;
    }

    p {
      text-align: center;
      opacity: 0.5;
    }

    &:hover {
      border: 2px solid $accent-color;
    }
  }

  .small-project-card-2:hover .small-img::before {
    opacity: 0;
  }

  .small-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-position: center center;
    background-size: contain;
    z-index: 1;
    position: relative;
  }

  .illus-1 {
    background-image: url(../images/illus-1.png);
  }
  .illus-2 {
    background-image: url(../images/illus-2.png);
  }
  .illus-3 {
    background-image: url(../images/illus-3.png);
  }
  .illus-4 {
    background-image: url(../images/illus-4.png);
  }
  .illus-5 {
    background-image: url(../images/illus-5.png);
  }

  .small-img::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #ffc40067, #ff7402dc);
    transition: all 800ms ease-in-out;
    z-index: -1;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  nav button,
  .responsive-nav {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .nav-container {
    padding: 2.5rem 6rem;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    padding: 200px 50px;
    margin: 0px auto;
  }
  .footer {
    width: 100%;
    max-width: 1200px;
    padding: 10px 50px;
    margin: 0px auto;
  }

  .grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .floating-email {
    display: block;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    line-height: 1.3;
    animation: fade-in 2s ease-in;

    &-inner {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      position: relative;

      a {
        writing-mode: vertical-rl;
        margin: 20px auto;
        padding: 10px 10px 10px 0px;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      }

      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background-color: $text-color-dark;
        margin: 0px auto;
        opacity: 0.5;
        font-size: 12px;
        letter-spacing: 0.1em;
      }

      &:hover a {
        color: $accent-color;
      }
    }
  }

  .profile-img {
    position: relative;
    display: block;
    width: 400px;
    background-position: top;
    height: 420px;
    background-image: url(../images/header.png);
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    -webkit-box-shadow: 0px 25px 49px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 25px 49px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 25px 49px -20px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }

  .profile-img::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #ffb1292d, #ff8929dc);
    transition: all 800ms ease-in-out;
    z-index: -1;
  }

  .profile-img::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 120%;
    height: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $accent-color;
    opacity: 0.9;
    transition: all 400ms ease-in-out;
    z-index: -2;
  }

  .profile-img:hover::before {
    opacity: 0;
  }

  .profile-img:hover {
    transform: translateY(-10px);
  }

  .profile-img:hover::after {
    width: 90%;
    height: 90%;
    opacity: 0;
  }

  header h2 {
    font-size: 5rem;
  }

  .quote-1 {
    margin-top: 40px;
    height: 100px;
  }

  .quote-2 {
    margin-top: 40px;
    height: 110px;
  }

  .quote-3 {
    height: 110px;
  }

  .project-card {
    grid-template-columns: 1fr 2fr;
    margin-top: 120px;
    transition: all 400ms ease-in-out;
    z-index: 1;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-card::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 105%;
    height: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $accent-color;
    opacity: 0.9;
    transition: all 400ms ease-in-out;
    z-index: -1;
  }

  .project-card:hover::after {
    width: 95%;
    height: 95%;
    opacity: 0;
  }

  .project-icons-container {
    position: absolute;
  }

  .left {
    display: block;
  }

  .small-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .skills-container p {
    font-size: 1.2rem;
  }

  .floating-img {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50px;
    transform: rotate(-90deg);
    transform-origin: left;
    animation: fade-in 2s ease-out;
  }

  .floating-img img {
    height: 50px;
    transition: all 400ms ease-in-out;
  }

  .floating-img:hover img {
    transform: scale(1.05);
  }

  .illustrations-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0px;
    gap: 60px;
  }
}
