*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: #1e202c;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

a * {
  cursor: none;
}

.bg-dark {
  background-color: #1e202c;
}

.bg-dark * {
  color: #c2c7e5;
}

.bg-light * {
  color: #1e202c;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
  cursor: none;
}

.blower {
  font-size: 30px;
  position: fixed;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1000000;
  display: none;
}

.nav-container {
  padding: 2.5rem 1rem;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 50px 2rem;
  margin: 0px auto;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  background-color: white;
}

.logo img {
  height: 20px;
}

nav button {
  border: none;
  background: none;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

nav button:active span {
  background-color: #ffaf29;
}

nav button,
nav ul {
  margin-left: auto;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  height: 3px;
  background-color: #444444;
  width: 20px;
  display: block;
  margin-top: 4px;
  border-radius: 20px;
}

nav button span:first-child {
  width: 15px;
  margin-left: 5px;
}

nav button span:last-child {
  width: 15px;
}

nav ul {
  display: none;
}

nav ul li {
  display: inline-block;
}

.nav-links svg {
  height: 22px;
  width: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  top: 5px;
  fill: #c2c7e5;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-links svg:hover {
  fill: #ffaf29;
}

.nav-links a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  padding: 0 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(0, 0.8, 0.13, 1);
  transition: all 300ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #ffaf29;
  border-radius: 2px;
}

.resume-button a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  border: 1px solid #ffaf29;
  border-radius: 4px;
  padding: 6px 8px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.resume-button a:hover {
  background-color: #ffaf29;
  color: #fff;
}

.nav-links a:hover {
  color: white;
}

.nav-links a:hover::after {
  top: 0%;
}

.responsive-nav {
  position: absolute;
  top: -30%;
  background-color: #1e202c;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  z-index: 1;
}

.responsive-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.responsive-nav-active {
  top: 10% !important;
}

header p:nth-of-type(1) {
  color: #ffaf29;
  font-size: 1.4rem;
}

header h1 {
  margin-top: 1rem;
  font-size: 5rem;
  line-height: 1;
}

header h2 {
  font-size: 3rem;
  line-height: 1;
  opacity: 0.5;
  letter-spacing: -3px;
}

header p:nth-of-type(2) {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  max-width: 500px;
}

.get-in-touch {
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.5rem;
  border: 1px solid #ffaf29;
  border-radius: 4px;
  padding: 12px 20px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 1;
  background: none;
  outline: none;
  cursor: none;
}

.get-in-touch::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(0, 0.8, 0.13, 1);
  transition: all 300ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #ffaf29;
  border-radius: 4px;
}

.get-in-touch:hover {
  color: #fff;
}

.get-in-touch:hover::before {
  top: 0%;
}

.view-more-container {
  margin-top: 30px;
  text-align: center;
}

.profile-img {
  display: none;
}

.introduction h4 {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction p {
  font-size: 1.2rem;
}

.introduction h4:before {
  content: "";
  height: 4px;
  width: 18px;
  font-size: 4rem;
  margin-right: 10px;
  background-color: #ffaf29;
  position: relative;
  border-radius: 50px;
  top: 20px;
}

.aboutText {
  font-size: 20px;
}

.light-text {
  color: #1e202c;
  opacity: 0.8;
}

.dark-text {
  color: #c2c7e580;
}

.introduction p span {
  color: #ffaf29;
}

.quote-1 {
  margin-top: 40px;
  height: 80px;
}

.quote-2 {
  margin-top: 40px;
  height: 90px;
}

.quote-3 {
  height: 55px;
}

.section-2 {
  max-width: 800px;
  margin: 0px auto;
}

.skills-container p {
  margin-top: 20px;
  border: 2px solid #ffaf29;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px 12px;
  display: inline-block;
  font-size: 1rem;
}

.project-card {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card-dark {
  background-color: #181924;
}

.card-light {
  background-color: #f5f5f5;
}

.left {
  height: 100%;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  border-radius: 10px;
  position: relative;
  display: none;
}

.right {
  padding: 30px;
}

.right h3 {
  font-size: 1.4rem;
}

.project-1 {
  background-image: url(../images/project-1.png);
}

.project-2 {
  background-image: url(../images/project-2.png);
}

.project-3 {
  background-image: url(../images/project-3.png);
  background-position: top;
}

.left::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffbd2f94), to(#c0450cdc));
  background-image: linear-gradient(to right bottom, #ffbd2f94, #c0450cdc);
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.project-card:hover .left::after {
  opacity: 0;
}

.project-icons-container {
  position: relative;
  right: 0;
  bottom: 0;
  margin: 0px 40px 20px 30px;
}

.project-link {
  display: inline-block;
}

.project-link svg {
  height: 20px;
  width: 20px;
  fill: #c2c7e5;
  -webkit-transition: fill 400ms ease-in-out;
  transition: fill 400ms ease-in-out;
}

.project-link:nth-of-type(2),
.project-link:nth-of-type(3) {
  margin-left: 15px;
}

.project-link:hover svg {
  fill: #ffaf29;
}

.small-projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.small-project-card {
  height: 400px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 20px;
  text-decoration: none;
  border: 2px solid transparent;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  position: relative;
}

.small-project-card:hover {
  border: 2px solid #ffaf29;
}

.lower {
  position: absolute;
  bottom: 30px;
}

.lower__icons {
  margin-top: 20px;
}

.small-project-card p {
  font-size: 1rem;
}

.small-project-tech-container {
  margin-top: 10px;
}

.small-project-tech-container p {
  margin-top: 20px;
  border: 2px solid #ffaf29;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4px 12px;
  display: inline-block;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 120px;
}

.social-container {
  margin: 40px 0 40px 0;
}

.social-container a:not(:last-child) {
  display: inline-block;
  margin-right: 20px;
}

.social-container a svg {
  height: 20px;
  width: 20px;
  fill: #c2c7e5;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.social-container a svg:hover {
  fill: #ffaf29;
}

.floating-email {
  display: none;
}

.final-credits {
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.brittany:hover {
  color: #64ffda !important;
}

.final-credits:hover {
  color: #ffaf29;
}

.floating-img {
  display: none;
}

.illustrations-container a {
  background-color: #181924;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  margin-top: 40px;
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border: 2px solid transparent;
  border-radius: 5px;
}

.illustrations-container a p {
  font-size: 18px;
}

.illustrations-container a h2 {
  margin-left: 20px;
  font-size: 18px;
}

.illustrations-container a svg {
  margin-left: auto;
  height: 20px;
  width: 20px;
  fill: #c2c7e5;
}

.illustrations-container a:hover {
  border: 2px solid #ffaf29;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .blower {
    display: block;
  }
  nav button,
  .responsive-nav {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }
  .nav-container {
    padding: 2.5rem 6rem;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    padding: 200px 50px;
    margin: 0px auto;
  }
  .footer {
    width: 100%;
    max-width: 1200px;
    padding: 10px 50px;
    margin: 0px auto;
  }
  .grid-two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .floating-email {
    display: block;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    line-height: 1.3;
    -webkit-animation: fade-in 2s ease-in;
            animation: fade-in 2s ease-in;
  }
  .floating-email-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
  }
  .floating-email-inner a {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    margin: 20px auto;
    padding: 10px 10px 10px 0px;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .floating-email-inner::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: #c2c7e5;
    margin: 0px auto;
    opacity: 0.5;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  .floating-email-inner:hover a {
    color: #ffaf29;
  }
  .profile-img {
    position: relative;
    display: block;
    width: 400px;
    background-position: top;
    height: 420px;
    background-image: url(../images/header.png);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    -webkit-box-shadow: 0px 25px 49px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 25px 49px -20px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  .profile-img::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb1292d), to(#ff8929dc));
    background-image: linear-gradient(to right bottom, #ffb1292d, #ff8929dc);
    -webkit-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
    z-index: -1;
  }
  .profile-img::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 120%;
    height: 120%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid #ffaf29;
    opacity: 0.9;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    z-index: -2;
  }
  .profile-img:hover::before {
    opacity: 0;
  }
  .profile-img:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .profile-img:hover::after {
    width: 90%;
    height: 90%;
    opacity: 0;
  }
  header h2 {
    font-size: 5rem;
    letter-spacing: -5px;
  }
  .quote-1 {
    margin-top: 40px;
    height: 100px;
  }
  .quote-2 {
    margin-top: 40px;
    height: 110px;
  }
  .quote-3 {
    height: 110px;
  }
  .project-card {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    margin-top: 120px;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    z-index: 1;
  }
  .project-card:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .project-card::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 105%;
    height: 120%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid #ffaf29;
    opacity: 0.9;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    z-index: -1;
  }
  .project-card:hover::after {
    width: 95%;
    height: 95%;
    opacity: 0;
  }
  .project-icons-container {
    position: absolute;
  }
  .left {
    display: block;
  }
  .small-projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .skills-container p {
    font-size: 1.2rem;
  }
  .floating-img {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: fade-in 2s ease-out;
            animation: fade-in 2s ease-out;
  }
  .floating-img img {
    height: 50px;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .floating-img:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .illustrations-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0px;
    gap: 60px;
  }
}
/*# sourceMappingURL=main.css.map */